.postContent{
    cursor: pointer;
}
.post{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    border-radius: .25rem;
    background: #1A1A1B;
    border: solid 1px #343536;
    overflow: hidden;
}
.post:hover{
    box-shadow: 0px 0px 7px #343536
}
.delete-btn {
    margin-left: auto;
    height: fit-content;
}
.post-image{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 100%;
    width: 28rem;
    margin-bottom: 0.5rem;
    object-fit: scale-down;
}

.post-image-container.hide-image .post-image{
  position: absolute !important;
  width: unset !important;
}
.post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.title{
    cursor: pointer;
}
.show-image-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .post-image-container {
    position: relative;
    overflow: hidden;
  }
  
  .post-image-container.hide-image {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
  
  .post-image-container.hide-image .show-image-button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .post-image-container-span{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    left: 0 !important;
    border-bottom: solid 1px;
    mix-blend-mode: difference;
  }

  .hide-image-button {
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    width: 100%;
    background: linear-gradient(to top,  rgba(68, 68, 68, 0.8), rgba(68, 68, 68, 0.4), rgba(68, 68, 68, 0));
    color: black;
    font-weight: bold;
    cursor: pointer;
  }

  .title-div{
    display: flex;
    gap: 0.5rem;
    align-items: center;

  }

  .posted-by-span{
    padding: 0;
    font-size: x-small;
    color: #7D7E7F;
    margin-bottom: -1rem;
  }

  .post-sidenav{
    display: flex;
    flex-direction: column;
    background: #161617;
    height: calc(100% + 2rem);
    padding-top: 2rem !important;
    width: 3rem;
    margin-top: -1rem;
    margin-left: -0.5rem;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    color: #D2D5D7;
    padding: 0.3rem;
    flex-wrap: wrap;
    align-content: center;
  }

  .post-sidenav svg {
    fill: #7C7E7F;
    font-size: 1.25rem;
  }

  .post-sidenav .liked svg{
    fill: #FF4500;
  }

  .post-sidenav .disliked svg{
    fill: #7193FF;
  }
  .post-sidenav :nth-child(1):hover svg{
    fill: #FF4500;
  }
  .post-sidenav :nth-child(3):hover svg{
    fill: #7193FF;
  }
  .liked-span{
    color: #FF4500;
  }
  .disliked-span{
    color: #7193FF;
  }
