.main{
    height: 100%;
    background: #1A1A1B;
    /* width: 19%; */
    position: fixed;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 2rem;
    z-index: 4;
    border-right: solid 1px #343536;
}

.heading{
    font-size: 0.6rem;
    color: #7D7E7F;
    font-weight: 700;
    cursor: default;
}

.menu-tile{
    display: flex;
    width: 100%;
    gap: 0.4rem;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
    align-content: center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.menu-tile:hover{
    background-color: #232324;
    cursor: pointer;
}

.menu-title{
    font-size: 0.8rem;
}

.menu-tile path{
    stroke: white;
}

.sidenav-btn{
    align-self: flex-end;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.sidenav-decorator{
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 0rem;
    background-color: #343536;
}

.sidenav-recent{
    overflow-y: hidden;
    scrollbar-width: thin;
    padding: 10px;
}

.sidenav-recent:hover{
    overflow-y: auto;
}

.sidenav-recent::-webkit-scrollbar{
    width: 1px;
    color: #232324;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 1rem;
    
}
.sidenav-recent::-webkit-scrollbar:hover{
    opacity: 1;
    
}

.sidenav-recent::-webkit-scrollbar-track {
    background: transparent;
  }
  
.sidenav-recent::-webkit-scrollbar-thumb {
    background: #888;
}

.sidenav-recent::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
  
