*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: #030303;
    color: white;
  }

  .logo-img{
    width: 4rem;
    height: 4rem;
    align-self: flex-start;
    margin-right: auto;
    object-fit: cover;
    scale: 1.4;
  }
  
  .container {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    margin: 2rem auto;
  }
  
  button {
    font-size: inherit;
    font-family: inherit;
  }

  .main-body {
    display: grid;
    max-width: 65rem;
    margin: auto;
    width: 51.5rem;
    grid-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/ span 4;
    box-sizing: border-box;
    padding: 2rem;
  }

  .expand-text{
    left: 50%;
    position: relative;
    font-size: x-small;
    color: #C8CbCd;
  }

  .expand-text:hover{
    color: #A7AAAB;
    cursor: pointer;
  }
  
  .error-msg {
    color: hsl(0, 100%, 67%);
  }
  
  .comments-title {
    margin-bottom: .5rem;
  }
  
  .comment-form-row {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  .message-input {
    flex-grow: 1;
    resize: vertical;
    height: 120px;
    border-radius: 0.25em;
    padding: 0.5em;
    font-size: inherit;
    font-family: inherit;
    background-color: #1A1A1B;
    color: white;
    line-height: 1.4;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
  
  .message-input:focus {
    border-color: #C8CBCD;
    outline: none;
  }
  
  .newpost-input{
    flex-grow: 1;
    resize: none;
    height: 50px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: .5em;
    padding: .5em;
    font-size: inherit;
    font-family: inherit;
    border: 0.05px transparent white;
    background-color: #272729;
    color: white;
    line-height: 1.4;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.newpost-input:active, .newpost-input:focus,.newpost-input:hover{
    background-color: #1A1A1B;
}
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .mt-1 {
    margin-top: .25rem;
  }
  
  .comment-stack {
    margin: .5rem 0;
  }
  
  .comment-stack:last-child {
    margin-bottom: 0;
  }
  
  .nested-comments {
    padding-left: .5rem;
    flex-grow: 1;
  }
  
  .nested-comments-stack {
    display: flex;
  }
  
  .collapse-line {
    border: none;
    background: none;
    padding: 0;
    width: 15px;
    margin-top: .5rem;
    position: relative;
    cursor: pointer;
    outline: none;
    transform: translateX(-50%);
  }
  
  .collapse-line:hover::before,
  .collapse-line:focus-visible::before {
    background-color: #A7AAAB;
  }
  
  .collapse-line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #C8CBCD;
    transition: background-color 100ms ease-in-out;
  }
  
  .hide {
    display: none;
  }
  
  .btn {
    --hue: 235;
    --color: hsl(var(--hue), 100%, 67%);
    padding: .5em 1em;
    /* background: #C8CBCD; */
    background: WHITE;
    border: none;
    /* color: white; */
    border-radius: .5em;
    font-size: .75em;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:focus-visible {
    color: #C8CBCD;
  }
  
  .btn.icon-btn {
    background: none;
    color: white;
    padding: .25em;
    display: flex;
    align-items: center;
  }
  
  .mr-1 {
    margin-right: .25em;
  }
  
  .close-btn{
    width: 1.5rem;
  }

  .icon-btn:hover,
  .icon-btn:focus-visible {
    color: #C8CBCD;
  }
  
  .icon-btn-active,
  .icon-btn.danger {
    --hue: 0;
  }

  .icon-btn.lightgray {
    color: lightgray;
  }
  
  .icon-btn-active {
    position: relative;
  }
  
  .icon-btn-active::before {
    content: "\00D7";
    position: absolute;
    font-size: .75em;
    width: 1em;
    height: 1em;
    color: white;
    background-color: var(--color);
    border-radius: 50%;
    bottom: .1em;
    right: .1em;
  }
  
  .comment {
    padding: .5rem;
    /* border: 1px solid hsl(235, 100%, 90%); */
    border-radius: .5rem;
  }
  
  .comment .header {
    color: hsl(235, 50%, 67%);
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
    font-size: .75em;
  }
  
  .comment .header .name {
    font-weight: bold;
    color: white;
  }
  
  .comment .message {
    white-space: pre-wrap;
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .comment .date {
    color: white;
  }
  
  .comment .footer {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .ml-3 {
    margin-left: 1.5rem;
  }
  
  .btn[disabled] {
    --color: hsl(var(--hue), 20%, 74%);
  }

  .grid-item{
    grid-column: 1 / span 2;
    grid-row: auto / span 2;
  }
  .new-post-grid-item{
    grid-row: auto / span 1;
  }
  .fliter-grid-item{
    grid-column: 3 / span 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
    padding-bottom: 0px;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }
  .chips {
    color: white !important;
    border: solid 1px #343536 !important;
    font-size: smaller !important;
  }

  .main-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .header-grid {
    grid-column: 1 / span 5;
    grid-row: 1;
    padding: 20px;
    top: 0;
    padding-bottom: unset;
    padding-top: unset;
  }

  .sidenav-grid {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    overflow-y: auto;
    transition: transform 500ms;
  }

  .comment-form-btn{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background: #272729;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border: solid 1px #636364;
    border-top: none;
    gap: 1rem;
  }

  .comment-form-btn.active {
    border: solid 1px #C8CBCD;
    border-top: none;
  }

  .post-btn{
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
    /* width: fit-content; */
  }

  .post-btn[disabled]{
    background-color: gainsboro;
    color: gray;
    font-weight: 600;
    cursor: default;
  }

  .post-btn[disabled]:hover{
    background-color: gainsboro;
  }

  .post-cncl-btn{
    background-color: gainsboro;
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
  }

  .post-cncl-btn:hover{
    background-color: #A7AAAB;
  }

  .post-btn:hover{
    background-color: #C8CBCD;
  }

  .options-menu-tile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .menu:hover{
    background-color: #343536;
  }
  .divider {
    color: #343536;
  }
  .menu-tile-text{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8rem;
  }
  .footer-icon-label-div{
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
  }
  .toolbar-btn{
    min-width: unset !important;
  }

  .footer-icon-label-div:hover{
    background-color: #343536;
    cursor: pointer;
  }

  @media screen and (max-width: 1100px) {
    .sidenav-grid{
      transform: translateX(-100%);
    }
    .main-body{
      /* grid-row: 2; */
      grid-column: 1 / span 5;
    }
  }

  @media screen and (max-width: 824px) {
    .grid-item{
      grid-column: 2 / span 2;
      width: 40rem;
    }
    .main-body{
      grid-template-columns: repeat(4, 1fr);
      width: unset;
    }
    .fliter-grid-item{
      grid-column: 2 / span 2;
    }
    .view-editor-wrapper {
      padding-bottom: 1rem;
    }
  }

  @media screen and (max-width: 755px) {
    .main-body{
      padding: unset;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
  }
  @media screen and (max-width: 677px) {
    .main-body{
      grid-gap: unset;
    }
    .grid-item{
      width: 100vw;
      overflow-x: hidden;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1A1A1B;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #343536;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

