

  .editor-wrapper {
    border: 1px solid #343536;
    background: #1A1A1B;
    height: 20rem;
    height: fit-content;
    width: 75%;
    min-height: 300px;
    border-radius: 0.25em;
    overflow-y: auto;
    resize: vertical;
  }

  .view-main-editor-wrapper {
    background: #1A1A1B;
    width: 100%;
  }
  .view-editor-wrapper {
    background: #1A1A1B;
    width: 25rem;
  }

  .editor-wrapper.active {
    border: 1px solid white;
  }
  
  .editor-container {
    width: 100%;
    border: 1px solid #1A1A1B;
    border-top: none;
    height: min-content;
    max-height: 250px;
    padding: 1rem;
  }

  .main-post .editor-container{
    height: fit-content;
    max-height: unset;
  }

  .main-new-post .editor-wrapper .editor-container{
    height: 250px;
  }

  .post .editor-container.scrollable::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Set the height of the gradient area */
    z-index: 8;
    background: linear-gradient(to top,  rgba(68, 68, 68, 0.6), rgba(68, 68, 68, 0.4), rgba(68, 68, 68, 0));
  }
  
  .toolbar-grid {
    background-color: #272729;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.2em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    position: sticky;
    top: 0;
    z-index: 5;
  }
  
  .superFancyBlockquote {
    color: #999;
    background: #272729;
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    border-left: 2px solid #999;
    padding-left: 10px;
  }
  
  .codeBlock {
    font-family: fira-code, monospace;
    font-size: inherit;
    background: #ffeff0;
    font-style: italic;
    word-wrap: normal;
    word-wrap: break-word;
    box-decoration-break: slice;
    padding: 0.3rem 2rem;
    border-radius: 0.2rem;
  }

  .view-editor-wrapper figure {
    margin-inline-start: 0;
  }

  .view-main-editor-wrapper figure {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .leftAlign {
    text-align: left;
  }
  .rightAlign {
    text-align: right;
  }
  .centerAlign {
    text-align: center;
  }
  .justifyAlign {
    text-align: justify;
  }
  .edit-wrapper{
    width: auto;
    overflow-x: hidden;
  }